<h1>Account</h1>
<!--TODO: Broify-->

<h2>The Deets</h2>
username: <%= current_bro.name %>
email: <%= current_bro.email %>

<h2>Get the hook up</h2>

Twitter, Instagram, Github, Vimeo

<h2> Your Subscriptions </h2>
<!--TODO: Broify-->
