<%= link_to "Sign out", sign_out_path %>
<%= link_to current_bro.name, show_path(current_bro.id) %>
<%= link_to "Search!", twitter_search_path %>

<h1> Feedora </h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet %></li>
  <% end %>
</ul>
