<h1>Vimeo Results</h1>

<% if @results %>
  <% if @results.include? ("display_name")  %>
    <p><%= image_tag(@results["portrait_medium"]) %></p>
    <p>Display Name: <%= @results["display_name"] %></p>
    <p>Username: <%= @results["profile_url"].gsub("https://vimeo.com/", "") %></p>
  <% else %>
    <p>No results</p>
  <% end %>
<% end %>
