.col-md-2 p {
  text-align: center;
}

/*.col-md-1 {
  border-left: gray solid 4px;
}*/

.col-md-1, .col-md-2, .col-md-6 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-md-6 p {
  font-size: 14pt;
  text-align: left;
}

.feed li {
  list-style-type: none;
}

.feedora {
  text-align: center;
  font-family: serif;
}

h1.feedora {
  letter-spacing: 4px;
  font-size: 40pt;
}

.icon {
  background-color: #D3D3D3;
  border-radius: 10px;
  margin-top: 40%;
}

.feed-item {
  border-bottom: #D3D3D3 solid 2px;
}

.avatar {
  height: 60px;
}
