// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-bar {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0px;
  background-color: white;
  position: fixed;
  border-bottom: 10px solid #06192E;
}

.nav-bar span {
  display: inline-block;
}

.brand-header {
  position: fixed;
  margin-top: 20px;
  margin-left: 25px;
  background: #ACB6BC;
  border: 10px solid #06192E;
  border-radius: 40px 40px 40px 40px;
  padding-right: 25px;
}

.brand-title {
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Graduate', cursive;
  color: #06192E;
  padding-top: 10px;
}

.brand-img {
  height: 70px;
  margin-top: -64px;
  margin-right: -16px;
}

.search-header {
  float: right;
  margin: 25px 0;
}

.user-header {
  float: right;
  margin: 28px 20px;
}

.user-header a {
  color:  #4EAE47;
}

.container {
  padding: 150px;
}

.landing {
  background-color: white;
  border-radius: 25px;
  padding: 7% 10%;
}

.landing-background {
  background-color: #5e6666;
}

.landing-brand h1{
  display: inline;
  font-family: 'Graduate', cursive;
  font-weight: bold;
  color: #06192E;
  font-size: 60pt;
  text-decoration: underline;
}

.landing-img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.subscription-profile div {
  display: inline;
}

.sub-content {
  display: inline-block;
  margin: 15px;
  padding: 10px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.tagline {
  font-weight: bold;
  font-size: 15pt;
  color: #898b85;
}

.sign-in {
  float: left;
}


.no_prof_pic {
  width: 75px;
  height: 75px;
  background-color: gray;
}

.login-button {
  margin-top: 10%;
  width: 200px;
}

.login-button img {
  height: auto;
  width: 50px;
  display: inline-block;
}

.loginlogo {
  margin: 0 5px;
}

#flash-msg {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 150px;
  color: #585859;
  float: right;
}


.thing {
  background-color: green;
}

.avatar {
  height: 75px;
}

.results {
  display: inline-block;
  margin: 15px;
}

.results-content {
  padding: 10px;
  width: 160px;
  height: 170px;
}
