// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-bar {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0px;
  // display: inline-block;
  background-color: white;
  position: fixed;
  border-bottom: 5px solid #4EAE47;
}

.nav-bar h1 {
  display: inline-block;
  font-size: 50px;
  margin-top: 20px;
  padding-bottom: 0px;
  margin-left: 100px;
  font-family: 'Graduate', cursive;
  color: #06192E;
}

.nav-bar img {
  margin: 4px 20px;
  padding: 0;
  height: 75px;
  width: auto;
  // position: absolute;
  top: 0;
}

.nav-bar span {
  display: inline-block;
}

.search-header {
  float: right;

  margin: 25px 0;
}

.user-header {
  float: right;
  margin: 28px 20px;
}

.user-header a {
  color:  #4EAE47;
}

.container {
  // padding: 100px;
}

.landing {
  background-color: white;
  border-radius: 25px;
  padding: 7% 10%;
}

.landing-background {
  background-color: #5e6666;
}

.landing-brand h1{
  display: inline;
  font-family: 'Graduate', cursive;
  font-weight: bold;
  color: #06192E;
  font-size: 60pt;
  text-decoration: underline;
}

.landing-img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.subscription-profile div {
  display: inline;
}

.sub-content {
  display: inline-block;
  margin: 15px;
  padding: 10px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.tagline {
  font-weight: bold;
  font-size: 15pt;
  color: #898b85;
}

.sign-in {
  float: left;
}


.no_prof_pic {
  width: 75px;
  height: 75px;
  background-color: gray;
}

.login-button {
  margin-top: 10%;
}

.login-button img {
  width: 80px;
  height: auto;
}

.loginlogo {
  display: inline-block;
  margin: 0 7%;
}

#flash-msg {
  border-bottom: 5px solid #4EAE47;
  width: 100vw;
  padding-top: 100px;
}

#flash_notice {
  width: auto;
  background-color: #4EAE47;
  color: white;
  padding-left: 200px;
}
